<h1>A Propos</h1>
<p>Ce site est un gestionnaire de tâche développé avec Ruby on Rails par Alexandra Angehrn. Les fonctionnalités sont les suivantes:
<ul>
<li>Gestion des tâches (CRUD)</li>
<li>Gestion des commentaires de chaque tâche (CRUD)</li>
<li>Liste des commentaires</li>
<li>Page statique A propos</li>
<li>Page Home avec layout différent et menu</li>
<li>Authentification basique sur toutes les pages sauf la home et à propos</li>
</ul>
</p>
